.resume-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 110vh;
}
.resume-form-card {
    width: 653px;
} 
.inner-card {
    margin-top: 20px;
}  
.preview-button {
    margin-right: 30px;
} 
.save-button {
    margin-right: 30px;
} 
.go-back-button {
    margin-right: 30px;
} 
.clear-button {
    margin-right: 30px;
}